body{
    background-color: rgb(183, 177, 197);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header{
    background-color: rgb(30, 25, 41);
    padding:1px;
    display:flex;
}

.logo{
    justify-content: left;
    padding-left:40px;
    padding-top: 10px;
    padding-right:15px;
}
.brand_name{
    color:white;
    padding-right:300px;
}
#home_btn{
    margin-left:790px;
    margin-top:15px;
    height: 30px;
    width: 220px;
    color: rgb(188, 165, 231);
    background-color:blueviolet;
    font-weight:500px;
    font-size:17px;
    font-family: Arial, sans-serif;
}
#home_btn:hover{
    color:white;
    border-color:white;
}

#box_login{
    margin-top:50px;
    margin-left: 565px;
    padding-left: 0px;
    padding-top:0px;
    border: 2px solid rgba(0, 0, 0,.3);
    border-radius: 20px;
    height:450px;
    width:400px;
    background-color: white;
    justify-content: center;
}
#login_heading{
    justify-content: center;
    display:flex;
    font-size:20px;
    padding-left:0;
    padding-top:0;
}
.user_input{
    background-color: white;
    border: 2px solid rgba(0, 0, 0,.6);
    border-radius: 5px;
    background-color: rgba(188, 165, 231,.5);
    margin-left: 95px;
    margin-top: 30px;
    height: 30px;
    width:200px;
    font-family:cursive;
    color: rgb(30, 25, 41);
}
#login_btn{
    margin-top: 35px;
    margin-left:150px;
    height:40px;
    width:80px;
    border: 3px solid rgb(30, 25, 41);
    border-radius: 4px;
    color: rgb(200, 182, 232);
    background-color:blueviolet;
    font-weight:900px;
    font-size:19px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#login_btn:hover{
    color:white;
    border-color:rgb(201, 189, 189);
}
#social_media{
    padding-left:50px ;
    padding-right: 50px;
    padding-top: 1px;
}
#social_media_icon{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;

}
.media_icon{
    border: 1px solid black;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-right: 15px;
    margin-left: 15px;
}